<dev class="devise">
  <dev class="devisemargin">
    <h2>ユーザ情報の変更</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
        <%= devise_error_messages! %>


        <div>
          ユーザ名<br/>
          <%= f.text_field :name, autofocus: true %>
        </div>

        <div>
          アカウント名<br/>
          <%= f.text_field :account %>
        </div>

        <div class="field">
          メールアドレス<br/>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div>
          アイコン(画像のURL)<br/>
          <%= f.text_field :icon %>(画像のURL)
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          新しいパスワード(変更しない場合は空白にしてください)<br/>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          新しいパスワードの確認<br/>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          現在のパスワード(必須)<br/>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "変更する" %>
        </div>
    <% end %>

    <h3>アカウントの削除</h3>

    <p>※一度削除されるとユーザはデータは完全に削除されます。 <%= button_to "削除する", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete %></p>

    <%= link_to "戻る", :back %>
  </dev>
</dev>