
<p><%= link_to "Tweetする", new_tweet_path %></p>

<ul style="list-style:none;">
	<% @tweets.reverse.each do |tweet| %>
	<li>
		<%= tweet.content %><br>
		<%= tweet.created_at.in_time_zone("Asia/Tokyo") %>
		<%= link_to (image_tag "dustbox.png"), tweet_path(tweet.id), method: :delete, data: { confirm: "OK?" } %>
	</li>
	<% end %>
</ul>
