<!DOCTYPE html>
<html>
<head>
  <title>Twotter</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "bootstrap", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <nav>
    <%= link_to (image_tag "home.png",:id => "homeicon"), tweets_path %>
    <%= image_tag("logo.png", :id => "headerlogo") %>
    <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->

    <container id = "headernavi">
    <% if user_signed_in? %>
        <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
        <!-- *_path はUserモデルを作成したときに、
          deviseにより自動で作成されてますので、rake routesで確認できます -->
        <%= link_to 'ユーザ情報の変更', edit_user_registration_path %> |
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to "アカウント作成", new_user_registration_path %> |
        <%= link_to "ログイン", new_user_session_path %>
    <% end %>
    </container>

    <%= image_tag("tweet.png", :id => "tweeticon") %>

  </nav>
</header>

<p class="notice"><%= notice %></p>

<p class="alert"><%= alert %></p>



<%= yield %>